# ==========================================
#               Requirements file
# ==========================================
# to install all dependencies, please run:
# python -m pip install -r requirements.txt
#
# ============ WARNING =====================
# REQUIRED PYTHON VERSION: 3.11.x
# Tested with Python 3.11.11
# Python 3.12+ and 3.13 are NOT supported
# ==========================================

PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip>=12.11
pyqt5-tools==5.15.9.3.3
pyserial>=3.5
pyinstaller>=6.0
numpy>=2.2

